.dashboard-wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    font-family: Roboto;
    letter-spacing: 1.5px;
}

.new-report-section {
    width: 50%;
}

.previous-report-section {
    width: 50%;
}

.categories-flags {
    display: flex;
    flex-direction: column;  
    gap: 10px;  
    width: 100%;
    max-width: 400px;
}

.category-flag-set {
    display: flex;
    justify-content: space-between;
}